@{
    ViewBag.Title = "我爱足球-注册成功";
}
<style type="text/css">
    body {
        margin: 0;
    }

    .container {
        height: 100%;
        background-color: #ededed;
    }

    #pw_content {
        background: #ffffff;
        border: 1px solid #CECECE;
        width: 1000px;
        margin: auto;
    }

    .p20 {
        padding: 20px;
    }

    .regTitle {
        border-bottom: 1px solid #ededed;
        padding: 0 5px 10px;
        margin-bottom: 30px;
    }

    .regCorrect {
        margin-left: 20px;
        padding-left: 160px;
        padding-bottom: 70px;
        background-image: url(../Images/success.jpg);
        background-repeat: no-repeat;
        background-size: 120px;
    }
</style>
<div class="container">
    <div id="pw_content">
        <div class="p20">
            <div class="regTitle cc">
                <h5 class="s6">注册成功</h5>
            </div>
            <div class="cc">
                <div class="regCorrect">
                    <p class="f14 mb10">恭喜您注册成功，现在就开始精彩的旅程吧...</p>
                    <p><span style="margin-right:25px;"><a class="s4" href="/Famous/Index" _hover-ignore="1">返回首页</a></span><a href="u.php?verify=46ac2694" class="s4" _hover-ignore="1">前往个人中心</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
